.selection-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  background-color: black;
  width: 50%;
}

.selection-box {
  width: 75%;
  margin: auto;
  outline: none;
}

.main-btn{
  width: 100px;
  margin: auto;
  outline: none;
}
