<!--<mat-form-field>-->
  <!--<mat-select [(ngModel)]="selected" (change)="runThis()">-->
    <!--<mat-option [value]="course.id" class="courses" *ngFor="let course of golfCourses">{{course.name}}</mat-option>-->
  <!--</mat-select>-->
<!--</mat-form-field>-->

<!--<mat-form-field *ngIF="golfCourse">-->
  <!--<mat-select>-->
    <!--<mat-option *ngFor="let teeType of golfCourse.tee_types[]">{{teeType.name}}</mat-option>-->
  <!--</mat-select>-->
<!--</mat-form-field>-->

<courses-component></courses-component>
