<navbar></navbar>
<div class="container-fluid background">
  <div class="row">
    <div class="col-xs-2 col-sm-3 col-md-3 col-lg-4"></div>
    <div class="main-container col-xs-8 col-sm-6 col-md-6 col-lg-4">
      <div class="intro-container">
        <div class="logo-container">
          <img style="cursor: default" class="logo-image" src="../../assets/golfball.png">
        </div>
        <div class="title-container">
          <h3 class="title" style="cursor: default">Welcome to</h3>
          <h3 class="title" style="cursor: default">Ultimate Scorecard</h3>
          <h5 class="sub-title" style="cursor: default">The only way to keep score!</h5>
        </div>
      </div>
      <div class="button-container">
          <button class="btn btn-default new-game-button" type="button" [routerLink]="['/course-selection']">New Game</button>
          <button class="btn btn-default continue-game-button" type="button">Continue Game</button>
      </div>
    </div>
    <div class="col-xs-2 col-sm-3 col-md-3 col-lg-4"></div>
  </div>
</div>
